---
import MainPageLayout from "../../layouts/main-page-layout.astro";
---

<MainPageLayout title="Some useful tools">
	<h1>Some useful tools</h1>
	<dl>
		<dt><a href="/tools/wordle-solver">/wordle-solver</a></dt>
		<dd>
			<p>
				A tool that assists you with <a
					href="https://www.powerlanguage.co.uk/wordle/"
					rel="noopener noreferrer">wordle</a
				>.
			</p>
		</dd>
	</dl>
</MainPageLayout>
