---
import MainPageLayout from "../../layouts/main-page-layout.astro";
import WordleSolver from "../../components/new-wordle-solver/solver";
import "simple-vanilla-notifications/defaults.css";
---

<MainPageLayout title="Wordle solver" disableResponsive>
	<h1 class="font-bold">Wordle solver 2.0</h1>
	<p>
		Go back to the <a href="/tools/wordle-solver" class="arrow-left"
			>original Wordle solver</a
		>.
	</p>

	<WordleSolver client:load />
	<p>
		Made with <a href="https://lit.dev/" rel="noopener noreferrer">Lit</a>.
	</p>
</MainPageLayout>

<style is:global>
	.wordle-solver-input {
		text-transform: uppercase;
	}
</style>
