---
import MainPageLayout from "../../layouts/main-page-layout.astro";
import WordleSolver from "../../components/wordle-solver";
import "simple-vanilla-notifications/defaults.css";
---

<MainPageLayout title="Wordle solver">
	<h1>Wordle solver</h1>
	<p>
		Use for finding words for <a
			href="https://www.powerlanguage.co.uk/wordle/"
			rel="noopener noreferrer"
			>wordle
		</a>.
	</p>
	<p>
		This tool loads a very big list, so if it's slow, just give it a bit.
		Also it might not work on old devices.
	</p>
	<WordleSolver client:load />
	<p>
		Made with <a href="https://www.solidjs.com/" rel="noopener noreferrer"
			>Solid
		</a>.
	</p>
</MainPageLayout>
