---
import ToolsPageLayout from "../../layouts/tools-page-layout.astro";
import WordleSolver from "../../components/wordle-solver.tsx";
---

<ToolsPageLayout title="Wordle solver">
	<h1>Wordle solver</h1>
	<p>
		Use to cheat at <a
			href="https://www.powerlanguage.co.uk/wordle/"
			rel="noopener noreferrer">wordle</a
		>.
	</p><p>
		Note: This tool loads a very big array, so it might break on older devices
		like iPhone 5's.
	</p>
	<WordleSolver client:load />
	<p>
		Made with <a href="https://www.solidjs.com/" rel="noopener noreferrer"
			>Solid</a
		>.
	</p>
</ToolsPageLayout>
