---
import { getCollection, getEntryBySlug } from "astro:content";

export async function getStaticPaths() {
	const articles = await getCollection("interesting-things");

	const slugs = articles.map((article) => article.slug);

	return slugs.map((slug) => ({
		params: {
			slug,
		},
	}));
}
const { slug } = Astro.params;
const article = (await getEntryBySlug("interesting-things", slug!))!;

const rendered = await article.render();
---

<h1 class="text-3xl font-bold">{article.data.title}</h1>
<rendered.Content />
