---
import MainPageLayout from "../../layouts/main-page-layout.astro";
---

<MainPageLayout title="Interesting things">
	<h1>Interesting things I've written about</h1>
	<ul>
		<li><a href="/interesting-things/text-gradients">Text gradients</a></li>
	</ul>
</MainPageLayout>
