@tailwind base;
@tailwind components;

.error {
	@apply bg-red-200;
}

a {
	@apply text-theme;
}
a:hover,
a:focus {
	@apply underline;
}

label {
	@apply flex flex-col my-1;
}

label:focus-within {
	@apply text-theme;
}

input {
	@apply border-2 border-slate-500 rounded-lg p-2 text-black;
}
input:hover {
	@apply border-slate-400;
}

input:focus {
	@apply border-theme;
}

.button {
	@apply p-2 px-4 bg-theme text-theme-contrast rounded-md motion-safe:duration-200;
}
.button:hover,
.button:focus-visible {
	@apply filter brightness-110 shadow;
}
.button:active {
	@apply filter brightness-90 shadow-md;
}

@tailwind utilities;

@layer base {
	:root {
		--theme: #84cc16;
		--theme-contrast: black;
	}
	@supports (background-color: AccentColor) and (color: AccentColorText) {
		:root {
			--theme: AccentColor;
			--theme-contrast: AccentColorText;
		}
	}
}
