@tailwind base;
@tailwind components;

.error {
	@apply bg-red-200;
}

a {
	@apply text-theme-600;
}
a:hover,
a:focus {
	@apply underline;
}

label {
	@apply flex flex-col my-1;
}

label:focus-within {
	@apply text-theme-500;
}

input {
	@apply border-2 border-slate-500 rounded-lg p-2;
}
input:hover {
	@apply border-slate-400;
}

input:focus {
	@apply border-theme-500 text-theme-900;
}

.button {
	@apply p-2 px-4 bg-theme-100 rounded-md duration-75 border-transparent border-2;
}
.button:hover,
.button:focus-visible {
	@apply bg-theme-200 border-theme-400 shadow;
}
.button:active {
	@apply bg-theme-200 border-theme-600 shadow-md;
}

@tailwind utilities;
