@tailwind base;
@tailwind components;

.error {
	@apply bg-red-200;
}

a {
	@apply text-lime-600;
}
a:hover,
a:focus {
	@apply underline;
}

label {
	@apply flex flex-col my-1;
}

label:focus-within {
	@apply text-lime-500;
}

input {
	@apply border-2 border-slate-500 rounded-lg p-2;
}
input:hover {
	@apply border-slate-400;
}

input:focus {
	@apply border-lime-500 text-lime-900;
}

button {
	@apply p-2 px-4 bg-lime-100 border-t-[4px] border-transparent rounded-md duration-75;
}
button:hover,
button:focus-visible {
	@apply bg-lime-200 border-t-0 border-b-[4px] border-lime-400 shadow;
}
button:active {
	@apply bg-lime-200 border-b-0 border-t-[4px] border-transparent shadow-none;
}

@tailwind utilities;
