---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout title="Book a meeting with Zade Viggers">
	<h1>Book a meeting with Zade Viggers</h1>
	<p>
		Zade is very busy and important, but he very generously makes time to talk
		to the common people. Please follow the instructions below to make a
		booking.
	</p>
	<p>
		Please press the button labeled "<strong>Make a booking</strong>" to make a
		booking.
	</p>
	<noscript
		>Please note that the booking system will not work becuase JavaScript is
		either disabled in your web browser, or not supported by your browser.</noscript
	>
	<button id="fancy-button">Make a booking</button>
	<iframe
		style="display: none;"
		id="booking-vid"
		type="text/html"
		width="100%"
		height="100%"
		frameborder="0"
		allowfullscreen></iframe>
	<script>
		const fancyButton = document.getElementById("fancy-button");
		const vid = document.getElementById("booking-vid");
		fancyButton.addEventListener("click", () => {
			vid.setAttribute(
				"src",
				"https://www.youtube.com/embed/dQw4w9WgXcQ?controls=0&autoplay=1&disablekb=1&loop=1&modestbranding=1&",
			);
			vid.style.display = "block";
			document.documentElement.scrollTo({ top: vid.getBoundingClientRect().y });
		});
	</script>
</BaseLayout>

<style>
	#booking-vid {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
	}
</style>
