---
import MainPageLayout from "../layouts/main-page-layout.astro";
---

<MainPageLayout title="Contact me">
    <h1>Contact me</h1>
    <form data-static-form-name="contact">
        <label><span class="label-text">Name</span> <input name="name" /></label>
        <label><span class="label-text">Email address</span> <input type="email" name="email" /></label>
        <label><span class="label-text">Message</span> <textarea name="message"></textarea></label>
        <button type="submit">Submit</button>
    </form>
</MainPageLayout>

<style>
@media screen and (min-width: 700px) {
    form {
        width: 600px;
    }
}
</style>