---
import MainPageLayout from "../layouts/main-page-layout.astro";
---

<MainPageLayout title="Example page">
	<h1>Example page</h1>
    <p>I'll often link here when I need a URL for an example or demo.</p>
</MainPageLayout>
