---
import BaseLayout from "../layouts/base-layout.astro";
import {
	Project as ProjectType,
	ProjectGroup as ProjectGroupType,
} from "../types/projects";
import Project from "../components/Project.astro";
import ProjectGroup from "../components/ProjectGroup.astro";
const projects: ProjectType[] = [
	{
		title: "St Paul's Lutheran Church Wellington website",
		url: "https://www.wellingtonlutheran.org.nz/",
		comment:
			"Website desgined and programmed me. Graphics made in Adobe Illustrator.",
		technologies: ["Tailwind3"],
	},
	{
		title: "Public Transport Forum New Zealand website",
		url: "https://publictransportforum.nz/",
		comment:
			"Website frontent, backend, and content managment system designed and programmed by me.",
		technologies: ["Astro", "NetlifyCMS", "Typescript"],
	},
	{
		title: "Wellington College Retail Simulation",
		url: "https://retailsimulation.co.nz/",
		comment: "Website frontend designed in part and programmed in part by me.",
		technologies: ["MUI4", "React"],
	},
];

const crisislabProjects: ProjectType[] = [
	{
		title: "2022 CRISiSLab challange earthquake simulation visulisation",
		url: "https://visualisation.pages.dev/",
		comment:
			"Designed and programmed entierly by me. For use in the 2022 CRISiSLab challange.",
		technologies: ["MapboxGLJS"],
	},
	{
		title: "CRISiSLab sensor management dashboard",
		url: "https://admin.crisislab.org.nz/",
		comment:
			"Website frontend (including authentication pages) desgined and programmed me.",
		technologies: ["MUI5", "ReactQuery", "ReactRouter6", "React", "Typescript"],
	},
	{
		title: "CRISiSLab shakemap",
		url: "https://shakemap.crisislab.org.nz/",
		comment: "Website frontend programmed in part by me.",
		technologies: ["MapboxGLJS", "MUI5", "ReactRouter6", "React"],
	},
	{
		title: "Old CRISiSLab shakemap",
		comment:
			"Original (No longer used) website frontend designed and programmed by me.",
		technologies: [
			"MapboxGLJS",
			"MUI5",
			"ReactQuery",
			"ReactRouter6",
			"React",
			"Typescript",
		],
	},
];
---

<BaseLayout title="Zade Viggers">
	<header class="flow">
		<h1>Hello, I'm Zade Viggers.</h1>
	</header>
	<main class="flow">
		<section class="flow">
			<h2>Thing's I've made:</h2>
			<aside>
				<em>
					Please note that while I built (or helped to build) these
					websites/apps/etc, I do not necessarily contribute to or endorse the
					content on them.
				</em>
			</aside>
			<div class="flex flex-col gap-2">
				<ProjectGroup heading="While working at CRISiSLab">
					{crisislabProjects.map((project) => <Project {project} />)}
				</ProjectGroup>

				<ul class="flex flex-wrap gap-2">
					{projects.map((project) => <Project {project} />)}
				</ul>
			</div>
		</section>
		<section>
			<h2 class="font-bold">Accounts</h2>
			<dl>
				<dt class="text-slate-600">Github:</dt>
				<dd class="font-mono text-theme-800">
					@zadeviggers (ID: <pre>74938858</pre>)
				</dd>
			</dl>
			<dl>
				<dt class="text-slate-600">Discord:</dt>
				<dd class="font-mono text-theme-800">
					ZV#1562 (ID: <pre>918430402861989929</pre>)
				</dd>
			</dl>
		</section>
		<section>
			<h2 class="font-bold">Other pages</h2>
			<dl>
				<dt><a href="/tools/wordle-solver">Wordle solver</a></dt>
				<dd>Helper for finding words for Wordle</dd>
				<dt><a href="/interesting-things">Interesting Things</a></dt>
				<dd>Interesting things that I've written about.</dd>
			</dl>
		</section>
	</main>
</BaseLayout>

<style>
	:global(.card-list-wrapper) {
		padding: var(--spacing);
		border: 1px solid var(--normal-text-colour);
		/* TODO: figure out a way to stop this box from being too wide, without making it skinny on big screens, without using a media query */
		/* width: calc(500px + calc(var(--spacing) * 2)); */
	}
	:global(.card-list) {
		list-style-type: none;
		margin-left: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--spacing);
	}
	:global(.card) {
		padding: var(--spacing);
		border: 1px solid var(--normal-text-colour);
		max-width: 500px;
	}
</style>
