---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout title="Zade Viggers">
	<header class="flow">
		<h1>Hello, I'm Zade Viggers.</h1>
		<h2>This is my personal web page.</h2>
	</header>
	<main class="flow">
		<section class="flow">
			<h3>Thing's I've made:</h3>
			<ul class="flow">
				<li>
					<p>
						<a href="https://publictransportforum.nz/" rel="noopener noreferrer"
							>publictransportforum.nz</a
						>
						- Designed and programmed by me. Made using
						<a href="https://astro.build/" rel="noopener noreferrer">Astro</a>.
						Written in Typescript. Uses
						<a href="https://www.netlifycms.org/">Netlify CMS</a>
						to manage content.
					</p>
				</li>
			</ul>
		</section>
		<section class="flow">
			<h3>Contact me</h3>
			<dl>
				<dt>Discord</dt>
				<dd class="mono">ZV#1562</dd>
				<dt>Email</dt>
				<dd class="mono">zade.viggers@gmail.com</dd>
			</dl>
		</section>
		<section class="flow">
			<h3>Other pages</h3>
			<dl>
				<dt><a href="/links">/links</a></dt>
				<dd>A collection of useful links that I've found.</dd>
				<dt><a href="/tools">/tools</a></dt>
				<dd>Some useful tools.</dd>
				<!-- <dt><a href="/experiments">/experiments</a></dt>
				<dd>Programming experiments.</dd> -->
			</dl>
		</section>
	</main>
	<footer>
		<p>I'm also the webmaster of viggers.net.</p>
	</footer>
</BaseLayout>
