---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout title="Zade Viggers">
	<header class="flow">
		<h1>Hello, I'm Zade Viggers.</h1>
	</header>
	<main class="flow">
		<section class="flow">
			<h2>Thing's I've made:</h2>
			<ul class="flow">
				<li class="flow">
					<p>
						While working at <a
							href="https://crisislab.org.nz/"
							rel="noopener noreferrer">CRISiSLab</a
						>:
					</p>
					<ul class="flow">
						<li>
							<p>
								<a
									href="https://admin.crisislab.org.nz/"
									rel="noopener noreferrer">CRISiSLab sensor admin dashboard</a
								>
								- Website frontend (dashboard and authentication pages) desgined
								and programmed me. Made using
								<a href="https://mui.com/" rel="noopener noreferrer">MUI</a>,
								<a href="https://reactjs.org/" rel="noopener noreferrer"
									>React</a
								>, and <a href="https://vitejs.dev/" rel="noopener noreferrer"
									>Vite</a
								>. Written in <a
									href="https://typescriptlang.org/"
									rel="noopener noreferrer">Typescript</a
								>.
							</p>
						</li><li>
							<p>
								<a
									href="https://shakemap.crisislab.org.nz/"
									rel="noopener noreferrer">CRISiSLab shakemap</a
								>
								- Website frontend programmed in part by me. Made using
								<a href="https://mui.com/" rel="noopener noreferrer">MUI</a> and
								<a href="https://reactjs.org/" rel="noopener noreferrer"
									>React</a
								>.
							</p>
						</li>
					</ul>
				</li>
				<li>
					<p>
						<a
							href="https://st-pauls-website.vercel.app/"
							rel="noopener noreferrer"
							>St Paul's Lutheran Church Wellington website</a
						>
						- Website desgined and programmed me. Made using
						<a href="https://tailwindcss.com/" rel="noopener noreferrer"
							>Tailwind CSS</a
						> and and <a href="https://vitejs.dev/" rel="noopener noreferrer"
							>Vite</a
						>. Graphics made in Adobe Illustrator.
					</p>
				</li>
				<li>
					<p>
						<a href="https://publictransportforum.nz/" rel="noopener noreferrer"
							>Public Transport Forum New Zealand website</a
						>
						- Designed and programmed by me. Made using
						<a href="https://astro.build/" rel="noopener noreferrer">Astro</a>.
						Written in <a
							href="https://typescriptlang.org/"
							rel="noopener noreferrer">Typescript</a
						>. Uses
						<a href="https://www.netlifycms.org/">Netlify CMS</a>
						to manage content.
					</p>
				</li>

				<li>
					<p>
						<a href="https://retailsimulation.co.nz/" rel="noopener noreferrer"
							>Wellington College Retail Simulation</a
						>
						- Website frontend designed by me and programmed in part by me. Made
						using
						<a href="https://mui.com/" rel="noopener noreferrer">MUI</a> (V4) and
						<a href="https://reactjs.org/" rel="noopener noreferrer">React</a>.
					</p>
				</li>
			</ul>
		</section>
		<section class="flow">
			<h2>Contact me</h2>
			<dl>
				<dt>Discord</dt>
				<dd class="mono">ZV#1562</dd>
				<dt>Email</dt>
				<dd class="mono">zade.viggers@gmail.com</dd>
			</dl>
		</section>
		<section class="flow">
			<h2>Other pages</h2>
			<dl>
				<dt><a href="/links">/links</a></dt>
				<dd>A collection of useful links that I've found.</dd>
				<dt><a href="/tools">/tools</a></dt>
				<dd>Some useful tools.</dd>
			</dl>
		</section>
	</main>
</BaseLayout>
