---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout title="Zade Viggers">
	<h1>Zade Viggers</h1>
	<p>
		<a href="https://github.com/zadeviggers">GitHub profile</a>
		<br />
		Email me: [my first name]@[my last name].net
	</p>
	<a href="tools/">Online tools</a>
	<a href="recipes/perfect-biscuts">Biscut recipe</a>
</BaseLayout>
