---
import MainPageLayout from "../layouts/main-page-layout.astro";
const articles = (
	await Promise.all([
		Astro.glob("./interesting-things/*.md"),
		Astro.glob("./interesting-things/*.mdx"),
	])
)
	.flat()
	.sort((a, b) => a.frontmatter.order - b.frontmatter.order);
---

<MainPageLayout title="Interesting things">
	<h1>Interesting things I've written about</h1>
	<ol>
		{
			articles.map((article) => (
				<li>
					{article.frontmatter.order}.{" "}
					<a href={article.url}>{article.frontmatter.title}</a>
				</li>
			))
		}
	</ol>
</MainPageLayout>
