---
import MainPageLayout from "../layouts/main-page-layout.astro";
---

<MainPageLayout title="Awsome links I've found">
	<h1>
		A collection of links to awsome things that I've found on the internet
	</h1>
	<ul class="flow">
		<li>
			<p>
				Awsome layout tips, plus the almighty flow class:
				<a
					rel="noopener noreferrer"
					href="https://piccalil.li/tutorial/improve-the-readability-of-the-content-on-your-website/"
					>https://piccalil.li/tutorial/improve-the-readability-of-the-content-on-your-website/</a
				>.
			</p>
		</li>

		<li>
			Good CSS tutorial. Would recommend for beginers and experts alike:
			<p>
				<a href="https://web.dev/learn/css/">https://web.dev/learn/css/</a>.
			</p>
		</li>
	</ul>
</MainPageLayout>
