---
import MainPageLayout from "../layouts/main-page-layout.astro";
---

<MainPageLayout title="Some links I've found">
	<ul class="flow">
		<li>
			<p>
				Nice layout tips, plus the almighty flow class:
				<a
					rel="noopener noreferrer"
					href="https://piccalil.li/tutorial/improve-the-readability-of-the-content-on-your-website/"
					>https://piccalil.li/tutorial/improve-the-readability-of-the-content-on-your-website/</a
				>.
			</p>
		</li>
	</ul>
</MainPageLayout>
