---
import MainPageLayout from "../../layouts/main-page-layout.astro";
---

<MainPageLayout title="Programming experiments">
	<h1>Programming experiments</h1>
	<dl>
		<dt><a href="/experiments/game-of-life">/game-of-life</a></dt>
		<dd>
			<p>Conway's game of life.</p>
		</dd>
	</dl>
</MainPageLayout>
