---
const fruits = ["Apple", "Banana", "Pear"];
---

<div title=`My ${Math.random()> 0.5 ? "awesome" : "cool"} title`>Hover me!</div>
<ul>
    {fruits.map(fruit => <li title=`The best fruit is ${fruit}`>{fruit}</li>)}
</ul>