---
import { ProjectGroupType } from "../types/projects";
import Project from "./Project.astro"

interface Props {
	heading: string;
}
const { heading } = Astro.props as Props;
---

<li class="bg-slate-300 p-4 rounded-lg">
	<h3 class="font-bold">{heading}.</h3>
	<ul class="flex flex-wrap gap-4">
		<slot />
	</ul>
</li>