---
import "../styles/globals.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-white">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="p-2">
		<slot />
	</body>
</html>
