---
export interface Props {
	title: string;
}
import BaseLayout from "./base-layout.astro";
const { title } = Astro.props;
---

<BaseLayout {title}>
	<slot />
	<footer>
		<a href="/experiments">← Back to experiments page</a>
	</footer>
</BaseLayout>
