---
export interface Props {
	title: string;
}
import BaseLayout from "./base-layout.astro";
const { title } = Astro.props;
---

<BaseLayout title={title}>
	<slot />
	<footer>
		<a href="/">← Back to home page</a>
	</footer>
</BaseLayout>
