---
export interface Props {
	title: string;
	disableResponsive?: boolean | undefined;
}
import BaseLayout from "./base-layout.astro";
const { title, disableResponsive } = Astro.props;
---

<BaseLayout title={title} {disableResponsive}>
	<slot />
	<footer>
		<a href="/" class="arrow-left">Back to home page</a>
	</footer>
</BaseLayout>
